@import "./_styles/colors.css";
@import "./_styles/spacing.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* text */
		--base-font-size: 1rem;
		--base-line-height: 1.6;
	}
}

body {
	font-family: museo-sans, sans-serif;
}

/** { */

/*	line-height: var(--base-line-height); */

/* } */
