@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-white: white;
		--color-black: black;
		--color-current: currentcolor;
		--color-transparent: transparent;
		--color-error: #e05f5f;
		--color-primary: #75c46a;
		--color-secondary: #313449;
		--color-warning: #f09664;

		/* text */
		--base-font-size: 1rem;
		--base-line-height: 1.6;
	}
}

body * {
	line-height: var(--base-line-height);
}
